.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-size: 3rem;
        font-weight: 600;
        background: rgb(141, 114, 225);
        text-align: center;
        background: linear-gradient(90deg,
            rgba(131,58,180,1) 0%,
            rgba(253,29,29,1) 50%,
            rgb(235, 91, 65) 100%
        );
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    &__description {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0 1%;
        color: #000;
        width: 50%;
        text-align: center;
        margin-top: 3rem;
        background: #fff;
        border-radius: 20px;
        border: 10px solid transparent;
        border-image: url(../../assets/images/border.png) 100 round;
        border-image-width: 20px;
        border-image-outset: 10px;
    }

    &__image {
        object-fit: cover;
        border-radius: 5px;
        margin: 10px;
        margin-bottom: 50px;
        img {
            width: 80%;
            margin: 0 auto;
        }
        //center the image
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__back{
        position: absolute;
        top: 7%;
        left: 0;
        margin: 42px;
        .go-back {
            width: 125px;
            height: 125px;
            transform: rotate(270deg);
        }
        
        &:hover{
            cursor: pointer;
            animation: bounce-horizontal 0.5s ease-in-out infinite;
        }
    }

    &__links {
        display: grid;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    h2 {
        color: #5435b3;
    }

    &__purpose {
        font-size: 1.5rem;
        font-weight: 600;
        color: #000;
        width: 50%;
        padding: 0 1%;
        text-align: center;
        margin-top: 3rem;
        background: #fff;
        border-radius: 20px;
        border: 10px solid transparent;
        border-image: url(../../assets/images/border.png) 100 round;
        border-image-width: 20px;
        border-image-outset: 10px;
    }

    &__tools {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
            font-size: 2.5rem;
            padding: 5%;
            background: #fff;
            border-radius: 20px;
            border: 10px solid transparent;
            border-image: url(../../assets/images/border.png) 100 round;
            border-image-width: 20px;
            border-image-outset: 10px;
        }
        h3 {
            font-size: 2.25rem;
        }
        .tool {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;
            img {
                height: 3.5vw;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        gap: 1.5rem;
        margin-bottom: 5rem;
    }
    h2 {
        text-align: center;
    }
}

@keyframes bounce-horizontal {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 800px) {
    .project {
        h2 {
            font-size: 1.75rem;
        }
        p {
            font-size: 0.75em;
        }
        &__tools {
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            h3 {
                display: none;
            }
            h2 {
                font-size: 2.5em;
                border-image-width: 12px;
                border-image-outset: 6px;
            }
            .tool {
                img {
                    height: 3em;
                }
            }
            width: 75%;
        }
        &__description {
            width: 75%;
            font-size: 1.3em;
            border-image-width: 12px;
            border-image-outset: 6px;
        }
        &__purpose {
            width: 75%;
            font-size: 1.3em;
            border-image-width: 12px;
            border-image-outset: 6px;
        }
        &__title {
            font-size: 2em;
        }
        &__links {
            align-items: center;
            flex-direction: column;
            gap: 1.5rem;
        }

        &__image {
            img {
                width: 75%;
            }
        }
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 2rem;
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    .project__back{
        display: none;
    }
}
