<div class="desc-container">
    <p id="description">
        As a student developer, I am highly skilled in a variety of programming languages, including HTML/CSS, Python,
        JavaScript, Java, and C. I am also proficient in using Git and SQL/PL SQL. I am a dedicated and hardworking
        individual who is always looking to improve my skills and learn new technologies. I am seeking an internship for at leat 2 months, starting from April 2023 to June 2023,
        where I can gain valuable experience and work on challenging projects. Thank you for considering me for your
        internship program.
    </p>
</div>
<h1 id="languages-title" class="title-size">Languages & frameworks</h1>
<div class="content">
    <div *ngFor="let language of languages" id="languages"
        [ngClass]="language.animation == true ? 'animate' : 'disabled'" class="about">
        <!-- <h3>{{language.title}}</h3> -->
        <img [src]="language.image" alt="{{language.title}}">
    </div>
</div>
<h1 id="tools-title" class="title title-size">Tools</h1>
<div class="content">
    <div *ngFor="let tool of tools" id="tools" class="about"
        [ngClass]="tool.animation == true ? 'animate' : 'disabled'">
        <!-- <h3>{{tool.title}}</h3> -->
        <img [src]="tool.image" alt="{{tool.title}}">
    </div>
</div>
<h1 id="hobbies-title" class="title title-size">Hobbies</h1>
<div class="content">
    <div *ngFor="let hobby of hobbies" id="hobbies" class="about"
        [ngClass]="hobby.animation == true ? 'animate' : 'disabled'">
        <!-- <h3>{{hobby.title}}</h3> -->
        <img [src]="hobby.image" alt="{{hobby.title}}">
    </div>
</div>
<app-go-up></app-go-up>