<div class="content">
    <div class="creator">
        <h1>Credits</h1>
        <p>This website was created by Rémi JARA.</p>
        <p>remi.jara4@gmail.com</p>
    </div>
    <div class="hosting">
        <h1>Hosting</h1>
        <p>This website is hosted by myself on a dedicated server.</p>
        <p>173 Allée des 4 saisons, 38540 HEYRIEUX - FRANCE</p>
        <p>Tél : 07 71 67 53 62</p>
    </div>
    <div class="design">
        <h1>Design</h1>
        <p>The design of this website was made by Rémi JARA.</p>
    </div>
    <div class="intellectual-property">
        <h1>Intellectual property</h1>
        <p>All the content of this website is the intellectual property of Rémi JARA.</p>
        <p>Any reproduction, representation, modification, publication, adaptation of all or part of the elements of this website, whatever the means or the process used, is prohibited, except with the prior written consent of Rémi JARA.</p>
    </div>
    <div class="links">
        <h1>HyperTexts links</h1>
        <p>This site contains links to other sites. Rémi JARA cannot be held responsible for the content of these sites.</p>
    </div>
</div>
