@use "sass:math";

.image {
    display: inline-block;
    overflow: hidden;
    border: 15px solid transparent;
    border-image: url(../../assets/images/border.png) 100 round;
    border-image-width: 19px;
    border-image-outset: 0px;
    position: relative;
    img{
        width: 100%;
        height: 25rem;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }
    #title{
        opacity: 0;
        left: 2%;
        position:absolute;
        text-align:center;
        top: 26%;
        width: 98%;
        transition: all 0.3s ease-in-out;
        font-size: 2.5rem;
        font-weight: bold;
        color : #fff;
        user-select: none;
    }
    margin-bottom: 0.5rem;
    &:hover{
        img{
            transform: scale(1.15);
            filter: brightness(0.3);
        }
        #title{
            opacity: 1;
        }
        cursor: pointer;
    }
}


.container{
    @for $i from 1 through 30 {
        #project-#{$i} {
            animation: animate-appear #{$i * 0.15 + 0.4}s ease-in-out;
        }
    }
}

@media only screen and (hover: none) and (pointer: coarse){
    .image{
        img{
            transform: scale(1.1);
            filter: brightness(0.5);
            height: 20rem;
        }
        #title{
            opacity: 1;
            top: 23%;
        }
    }
}

@keyframes animate-appear {
    0% {
        opacity: 0;
        filter: brightness(1.1) saturate(1.1);
        transform: scale(0.8, 0.8);
    }
    100% {
        opacity: 1;
        filter: brightness(1) saturate(1);
        transform: scale(1, 1);
    }
}
  
