.card {
    margin: 80px;
    width: 37vw;
    height: 30vw;
    border-radius: 30px;
    border: 5px solid transparent;
    border-image: url("/assets/images/border.png") 100 round;
    border-image-width: 20px;
    border-image-outset: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    .title {
        font-weight: 600;
        width: 98%;
        text-align: center;
        overflow: hidden;
        a {
            font-size: 2rem;
        }
    }
    a {
        color: #8d72e1;
        text-decoration: none;
        font-size: 1.5rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        .image img {
            width: 90%;
            object-fit: cover;
            margin: 10px;
            margin-bottom: 50px;
        }

        .image {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 10vw;
            .tools {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                ul {
                    padding: 0;
                }
                p {
                    margin: 0;
                    font-size: 2rem;
                    color: #333;
                }
                .tool {
                    width: 100%;
                    font-size: 1.5rem;
                    color: #333;
                }
            }
        }
        a {
            padding: 0;
        }
    }
    // transform: translateX(5vw);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    border: 5px solid transparent;
    border-image: url("/assets/images/border.png") 100 round;
    border-image-width: 10px;
    border-image-outset: 5px;
    padding: 25px;
    height: 100%;
    width: 40%;
    position: relative;
    opacity: 0;
    .button {
        background-color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #333;
            color: #fff;
        }
    }

    .url-git {
        .link {
            margin-bottom: 10px;
        }
    }

    .url-project {
        .link {
            margin-bottom: 10px;
            &::after {
                width: 80%;
            }
        }
    }
    .link {
        &::after {
            width: 70%;
        }
    }
    transition: all 0.3s ease-in-out;
}

.rotate {
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.move-right {
    transform: translateX(5vw);
    transition: all 0.5s ease-in-out;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 1650px) {
    .card {
        width: 45vw;
        height: 33vw;
        .content {
            .tools {
                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .move-left {
        transform: translateX(-5%);
    }
}

@media (max-width: 1400px) {
    .card {
        width: 42vw;
        height: 36vw;
        .content {
            .text {
                .tools {
                    p {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .move-left {
        transform: translateX(-7%);
    }
}

@media (max-width: 1200px) {
    .card {
        width: 55vw;
        height: 48vw;
        .content {
            .text {
                .tools {
                    p {
                        font-size: 1.2rem;
                    }
                }
                height: 15vw;
            }
        }
    }
    .move-left {
        transform: translateX(-8%);
    }
}

@media (max-width: 1000px) {
    .card {
        width: 65vw;
        height: 53vw;
        .content {
            .text {
                .tools {
                    p {
                        font-size: 1.4rem;
                    }
                }
                height: 15vw;
            }
        }
    }
    .move-left {
        transform: translateX(-9%);
    }
}

@media (max-width: 900px) {
    .footer {
        opacity: 1;
        transform: rotate(360deg);
    }

    .move-left {
        transform: translateX(0);
    }

    .move-right {
        transform: translateX(0);
    }

    .project {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .card {
        width: 80vw;
        height: 68vw;
        .content {
            .text {
                .tools {
                    p {
                        font-size: 1.6rem;
                    }
                }
                height: 20vw;
            }
        }
    }

    .move-left {
        transform: translateX(0);
    }

    .move-right {
        transform: translateX(0);
    }
    .footer {
        width: 55%;
    }
}

@media (max-width: 600px) {
    .card {
        width: 85vw;
        height: 90vw;
        .content {
            .text {
                .tools {
                    p {
                        font-size: 1.2rem;
                    }
                    .tool {
                        li {
                            font-size: 1rem;
                        }
                    }
                }
                height: 35vw;
            }
        }
    }

    .move-left {
        transform: translateX(0);
    }

    .move-right {
        transform: translateX(0);
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    .card {
        width: 65vw;
        height: 100vw;
        .content {
            .text {
                .tools {
                    p {
                        font-size: 1rem;
                    }
                    .tool {
                        font-size: 1rem;
                    }
                }
                height: 35vw;
            }
        }
        .title {
            a {
                font-size: 1.2rem;
            }
        }
    }

    .move-left {
        transform: translateX(0);
    }

    .move-right {
        transform: translateX(0);
    }
}
