<div class="content">
    <div class="content-left">
        <a href="https://www.linkedin.com/in/rémi-jara-516b30222/" target="_blank">
            <div class="link-content">
                <img src="assets/images/linkedin.png" alt="LinkedIn">
                <p>LinkedIn</p>
            </div>
        </a>
        <a href="https://github.com/icepick4" target="_blank">
            <div class="link-content">
                <img src="assets/images/github.png" alt="GitHub">
                <p>GitHub</p>
            </div>
        </a>
        <a href="mailto: remi.jara4@gmail.com" target="_blank">
            <div class="link-content">
                <img src="assets/images/email.png" alt="Email">
                <p>remi.jara4@gmail.com</p>
            </div>
        </a>
        <a>
            <div class="link-content">
                <img src="assets/images/phone.png" alt="Phone">
                <p>07 71 67 53 62</p>
            </div>
        </a>
    </div>
</div>