body {
    overflow: hidden;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 7rem;
    margin-bottom: 7rem;
    background: rgb(141, 114, 225, 0);
    border-radius: 20px;
    a {
        color: #000;
        text-decoration: none;
        font-size: 1.4vw;
        width: 100%;
        cursor: pointer;
        user-select: none;
    }
    .link-content {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 20px;
        img {
            margin-right: 20px;
            width: 5vw;
        }
        &:hover {
            background: #8d72e1;
            border-radius: 50px;
            p {
                color: #fff;
                transition: color 0.2s ease-in-out;
            }
            transition: background 0.2s ease-in-out;
            img {
                filter: brightness(0) invert(1);
                transition: filter 0.2s ease-in-out;
            }
        }
        border: 20px solid transparent;
        border-image: url("../../assets/images/border.png") 100 round;
        border-image-width: 20px;
        border-image-outset: 4px;
    }
    .content-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
    }
    animation: appear 1s ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1500px) {
    .content {
        a {
            font-size: 2vw;
        }
        .link-content {
            img {
                width: 8vw;
            }
        }
    }
}

@media (max-width: 800px) {
    .content {
        a {
            font-size: 3.2vw;
        }
        .link-content {
            img {
                width: 12vw;
            }
        }
    }
}
@media only screen and (hover: none) and (pointer: coarse) {
    .content {
        .link-content {
            border-radius: 50px;
            background: #8d72e1;
            p {
                color: #fff;
                font-size: 3.5vw;
            }
            img {
                width: 12vw;
            }
        }
    }
}
