<div class="container">
    <div class="header">
        <h1 class="title">Rémi JARA</h1>
        <img src="assets/photo.png" alt="photo" id="photo">
        <p id="description">Hi, I am Rémi, french student in computer science, I am passionate about development,
            and
            I
            will share with you through this site some of my projects !</p>
    </div>
    <div class="content">
        <app-button [text]="'projects'" class="link"></app-button>
        <app-button [text]="'about'" class="link"></app-button>
        <app-button [text]="'contact'" class="link"></app-button>
    </div>
</div>
<svg class="background--custom" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path fill="#75d0a6" fill-opacity="1" d="M-100 -100L200 -100L200 80L-100 80Z"
        style="animation: path0 8.771929824561402s linear infinite alternate;" />
    <path fill="#58a100" fill-opacity="0.3" d="M-100 -100L200 -100L200 40L-100 40Z"
        style="animation: path1 7.246376811594203s linear infinite alternate;" />
    <path fill="#e880bc" fill-opacity="0.7" d="M-100 -100L200 -100L200 80L-100 80Z"
        style="animation: path2 7.936507936507937s linear infinite alternate;" />
    <path fill="#78f6c0" fill-opacity="0.2" d="M-100 -100L200 -100L200 30L-100 30Z"
        style="animation: path3 9.803921568627452s linear infinite alternate;" />
</svg>