body {
    background-color: #df7e66;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: "Monocraft";
    src: url("assets/fonts/Monocraft.otf");
}

::-webkit-scrollbar {
    width: 15px;
    overflow-y: scroll;
    background: #fff;
    box-shadow: inset 0 0 3px #707070;
}

::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 10px;
}

* {
    font-family: "Monocraft";
}

a {
    text-decoration: none;
    color: #5435b3;
    display: block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
    &.link {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #5435b3;
            opacity: 0;
            transition: opacity 400ms, transform 400ms;
            transform: translate3d(-105%, 0, 0);
        }

        &:hover::after {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

path {
    transform-origin: 50% 0%;
}
.background--custom {
    background-color: #71afe5;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
}
@keyframes path0 {
    0% {
        transform: rotate(-75deg);
    }
    100% {
        transform: rotate(75deg);
    }
}
@keyframes path1 {
    0% {
        transform: rotate(35deg);
    }
    100% {
        transform: rotate(-35deg);
    }
}
@keyframes path2 {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}
@keyframes path3 {
    0% {
        transform: rotate(75deg);
    }
    100% {
        transform: rotate(-75deg);
    }
}
