body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(135, 189, 234);
}
@font-face {
    font-family: "Monocraft";
    src: url("assets/fonts/Monocraft.otf");
}

* {
    font-family: "Monocraft";
}

a {
    text-decoration: none;
    color: rgb(67, 66, 66);
    display: block;
    position: relative;
    overflow: hidden;
    &.link {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: rgb(0, 0, 0);
            opacity: 0;
            transition: opacity 400ms, transform 400ms;
            transform: translate3d(-105%, 0, 0);
        }

        &:hover::after {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

img:not(#logo) {
    border-radius: 5px;
    border: 6px solid transparent;
    border-image: url("assets/images/border.png") 100 round;
    border-image-width: 10px;
    border-image-outset: 3px;
}

path {
    transform-origin: 50% 0%;
}

.background--custom {
    background-color: #71afe5;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
}
@keyframes path0 {
    0% {
        transform: rotate(-75deg);
    }
    100% {
        transform: rotate(75deg);
    }
}
@keyframes path1 {
    0% {
        transform: rotate(35deg);
    }
    100% {
        transform: rotate(-35deg);
    }
}
@keyframes path2 {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}
@keyframes path3 {
    0% {
        transform: rotate(75deg);
    }
    100% {
        transform: rotate(-75deg);
    }
}

//css for non mobile devices
@media only screen and (min-width: 1000px) {
    ::-webkit-scrollbar {
        width: 15px;
        overflow-y: scroll;
        background: #fff;
        box-shadow: inset 0 0 3px #707070;
    }

    ::-webkit-scrollbar-thumb {
        background: #707070;
        border-radius: 10px;
    }
}

@media only screen and (hover: none) and (pointer: coarse) {
    body {
        overflow-x: hidden;
    }
}
